/* アコーディオン */
 .list6 dt.trigger {
border:1px solid #000000;
color:#000000;
margin-bottom:5;
padding:10px 10px 10px 15px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #e5e5e5), color-stop(0.00, #ffffff));
background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
border-radius:5px;
}
.list6 dd.acordion_tree{
}

/* utils */
.icon {
  width: 64px;
  height: 64px;
}

/* color */
/* 文字色 */
.black {
color: #000000;
font-weight: bold; }

.blue {
color: #0000ff;
font-weight: bold; }

.lightblue {
color: #87ceeb;
font-weight: bold; }

.darkblue {
color: #00008b;
font-weight: bold; }

.red {
color: #ff0000;
font-weight: bold; }

.green {
color: #008000;
font-weight: bold; }

.white {
color: #f9f9f9;
font-weight: bold; }

.white {
  color: #f9f9f9;
  font-weight: bold;
}

.navy {
  color: #000080;
  font-weight: bold;
}


/* フォーム */
textarea{
background-color:#F7F7F7;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
textarea:hover{
background-color:#FFFFFF;
border: 1px #0000FF solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
textarea:focus{
background-color:#FFFFFF;
border: 1px #0000FE solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="text"]{
background-color:#F7F7F7;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
select{
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="password"]{
background-color:#F7F7F7;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="text"]:hover{
background-color:#FFFFFF;
border: 1px #0000FF solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="password"]:hover{
background-color:#FFFFFF;
border: 1px #0000FF solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="text"]:focus{
background-color:#FFFFFF;
border: 1px #0000FF solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="password"]:focus{
background-color:#FFFFFF;
border: 1px #0000FF solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="text"][disabled]{
background-color:#CCCCCC;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
}
input[type="submit"]{
background-color:rgba(217,217,217,0.6);
border: 1px #888888 solid;
margin: 2px;
color:#111111;
padding : 2px ;
border-radius:4px;
box-shadow:inset -1px -1px 3px rgba(000,000,000,0.5);
}
input[type="submit"]:hover{
background-color:#4682B4;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
box-shadow:inset 0px 0px 0px rgba(000,000,000,0);
}
input[type="submit"]:active{
background-color:#66FF00;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
box-shadow:inset 1px 1px 3.3px rgba(000,000,000,0.7);
}
#input{
background-color:rgba(217,217,217,0.6);
border: 1px #888888 solid;
margin: 2px;
color:#111111;
padding : 2px ;
border-radius:4px;
box-shadow:inset -1px -1px 3px rgba(000,000,000,0.5);
}
#input:hover{
background-color:#4682B4;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
box-shadow:inset 0px 0px 0px rgba(000,000,000,0);
}
#input:active{
background-color:#66FF00;
border: 1px #888888 solid;
margin: 2px;
padding : 2px ;
border-radius:4px;
box-shadow:inset 1px 1px 3.3px rgba(000,000,000,0.7);
}



/* バルーン */
.ballon{
position: fixed;
border: 1px #888888 solid;
width: 200px;
height: 200px;
background: #FFFFFF;
left:50%;
top:50%;
border-radius:8px;
box-shadow:2px 2px 2px 2px rgba(0,0,0,0.3);
margin:-100px 0 0 -100px;
opacity: 0.8;
}



/*テーブル*/
TABLE{
border-radius:5px;
}

.midasi2{
width:80%;
background:#baa98d;
padding:6px;
box-shadow:0px 0px 6px 6px #baa98d;
border-radius:4px;
}
div.midasi3{
background:#ffffff;
margin-top: 6px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding: 1px 1px 1px 4px; 
border-top: 0px;
border-right: 0px;
border-bottom: 2px #ff6600 solid;
border-left: 6px #ff6600 solid;
}
div.midasi4{
background:#ecdbbf;
margin-top: 6px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding: 1px 1px 1px 4px; 
border-top: 0px;
border-right: 0px;
border-bottom: 2px #ff6600 solid;
border-left: 6px #ff6600 solid;
}

.maru{
border-radius:5px;
padding:5px;
}
.maru2{
border-radius:3px;
}

.osirase{
overflow:scroll;
width:650px;
height:200px;
}
.osirase2{
background:#FFFFFF;
border-radius:5px;
padding: 5px 5px 5px 5px; 
border: 1px #000000 solid;
width:650px;
height:200px;
}
.kugiri{
border-top: 0px;
border-right: 0px;
border-bottom: 1px #222222 dotted;
border-left: 0px;
}

.en{
width:300px;
height:300px;
border-radius:150px;
}

TABLE.swindow{
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
margin: 0px 0px 3px 0px;
}

TABLE.rwindow{
margin: 0px 0px 3px 0px;
}

TABLE.mwindow{
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}

.inwindow{
border-top-left-radius:3.5px;
border-top-right-radius:3.5px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}

.kaku{
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}

.skaku{
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
margin: -3px 0px 3px 0px;
}

table#command{
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
table#command input[type="checkbox"]{
display:none;
}

/* メニュー用 */
#menu{
width:100%;
height:50px;
background: -moz-linear-gradient(top,#FFFFFF,#a9987c);
background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#a9987c));
border:solid 1px #CCCCCC;
box-sizing:border-box;
}
#menu li {
  position: relative;
  float: left;
  margin: 0;
  padding: 5px;
  width: 100px;
  height: 20px;
  top:10px;
  border: solid 1px #baa98d;
  background: #EEEEEE;
  font-weight: bold;
font-size:11pt;
text-align: center;
vertical-align: center;
list-style:none;
}
#menu li ul {
  display: none;
  position: absolute;
  z-index:1;
  top: 16px;
  left: -1px;
  padding: 5px;
  width: 140px;
  background: #DDDDDD;
  border: solid 1px #a9987c;
}
#menu li ul li {
  margin: 0;
  padding: 5px;
  top:0px;
  width: 130px;
  border: none;
text-align:left;
}
#menu li ul li a {
display: inline-block;
color:#000000;
width: 130px;
height: 20px;
}
#menu li ul li a:hover {
  color: #fff;
}
#menu input[type="submit"]{
display: inline-block;
width: 100px;
height: 20px;
background-color:#EEEEEE;
border: 0px;
margin: 0px;
color:#111111;
padding : 0px ;
border-radius:0px;
text-align:center;
font-weight: bold;
font-size:11pt;
box-shadow:inset 0px 0px 0px rgba(000,000,000,0);
}
#menu li ul li input[type="submit"]{
display: inline-block;
width: 130px;
height: 20px;
background-color:#EEEEEE;
border: 0px;
margin: 0px;
color:#111111;
padding : 0px ;
border-radius:0px;
text-align:left;
font-weight: bold;
font-size:11pt;
box-shadow:inset 0px 0px 0px rgba(000,000,000,0);
}
#menu input[type="submit"]:hover{
  background: #333333;
  color: #fff;
}


/* tool-tip */
#tooltip{
position: relative;
}
#tooltip span{
display: block;
position: absolute;
color:#FFFFFF;
text-decoration: none;
visibility: hidden;
width: 170px;
z-index:0;
top: 20px;
left: 10px;
padding: 5px;
background:rgba(000,000,000,0.7);
border: solid 1px #a9987c;
border-radius:5px;
}
#tooltip:hover,#tooltip:hover span{
visibility: visible;
z-index: 2;
}
