/* ツールチップ */

.tooltip {
  position: relative;
}

.tooltip span {
  display: block;
  position: absolute;
  color:#FFFFFF;
  text-decoration: none;
  visibility: hidden;
  width: 170px;
  z-index:0;
  top: 20px;
  left: 10px;
  padding: 5px;
  background:rgba(000, 000, 000, 0.7);
  border: solid 1px #a9987c;
  border-radius:5px;
}

.tooltip:hover, #tooltip:hover span {
  visibility: visible;
  z-index: 2;
}
